{% extends "layout.html" %}
{% block content %}
    <div class="site-section site-hero">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-10">
            <span class="d-block mb-3 caption" data-aos="fade-up" data-aos-delay="100">Доступ только по инвайтам</span>
            <h1 class="d-block mb-4" data-aos="fade-up" data-aos-delay="200">Найди ФИСМера или ФИСМис</h1>
            <span class="d-block mb-5 caption" data-aos="fade-up" data-aos-delay="300">Начни искать с нельзяграма @igorfresh</span>
          </div>
        </div>
      </div>
    </div>
{% endblock %}